USE [Prueba]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarPersonaPorPais]    Script Date: 10/03/2026 05:09:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_BuscarPersonaPorPais]
	-- Add the parameters for the stored procedure here
	@IdPais INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		SELECT  Personas.Id, Nombre, Pais 
		FROM Personas INNER JOIN Paises ON Paises.Id = Personas.idPais 
		WHERE Personas.idPais = @idPais

END
